{{!
    This file is part of the QuestionPy Moodle plugin - https://questionpy.org

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_questionpy/package/package_selection

    Represent a QuestionPy package that can be selected.

    Classes required for JS:
    * qpy-version-selection,
    * qpy-version-selection-button

    Data attributes required for JS:
    * data-for="favouite-button",
    * data-is-favourite

    Context variables required for this template:
    * id - QuestionPy package id,
    * namespace - QuestionyPy package namespace,
    * name - QuestionPy package name,
    * description - QuestionPy package description,
    * icon - QuestionPy package icon,
    * versions - If 'isselected' is true, include only the selected package; else, include every available package,
    * url - The url of the QuestionPy package,
    * isselected - Whether the current QuestionPy package is selected or not,
    * islocal - Whether the current QuestionPy package was uplaoded by a user or not,
    * isfavourite - Whether the current QuestionPy package is marked as favourite or not,

    Example context (json):
    {
        "id": 0,
        "namespace": "example_namespace",
        "name": "ExamplePackage",
        "description": "This describes the package ExamplePackage.",
        "icon": "https://picsum.photos/48/48?grayscale",
        "versions": [{"hash": "example_hash", "version": "0.1.0"}],
        "url": "https://example.com",
        "isselected": true,
        "islocal": false,
        "isfavourite": false
    }
}}
{{<qtype_questionpy/package/package_base}}
    {{$action}}
        <div class="qpy-card-action">
            <div class="qpy-card-action-options">
                <select class="qpy-version-selection" {{#isselected}} disabled {{/isselected}} aria-label="{{#str}} select_package_element_aria, qtype_questionpy {{/str}}">
                    {{#versions}}
                        <option value="{{hash}}">{{version}}</option>
                    {{/versions}}
                </select>
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" aria-expanded="false">
                        {{#pix}} i/moremenu {{/pix}}
                    </a>
                    <div class="dropdown-menu">
                        {{^islocal}}
                            <a class="dropdown-item" href="#" data-for="favourite-button" {{#isfavourite}} data-is-favourite {{/isfavourite}}>
                            <span class="qpy-favourite-button-text">
                                {{#pix}} i/star-rating {{/pix}}{{#str}} mark_as_favourite, qtype_questionpy {{/str}}
                            </span>
                                <span class="qpy-unfavourite-button-text">
                                {{#pix}} i/star-o {{/pix}}{{#str}} unmark_as_favourite, qtype_questionpy {{/str}}
                            </span>
                            </a>
                        {{/islocal}}
                        {{#url}}
                            <a class="dropdown-item" href="{{url}}" target="_blank">{{#pix}} i/mnethost {{/pix}}{{#str}} open_website, qtype_questionpy {{/str}}</a>
                        {{/url}}
                    </div>
                </div>
            </div>

            {{^isselected}}
                <button class="btn btn-primary qpy-version-selection-button">{{#str}} select_package, qtype_questionpy {{/str}}</button>
            {{/isselected}}
            {{#isselected}}
                <button class="btn btn-danger qpy-version-selection-button">{{#str}} change_package, qtype_questionpy {{/str}}</button>
            {{/isselected}}
        </div>
    {{/action}}
{{/qtype_questionpy/package/package_base}}
{{#js}}
    require(['qtype_questionpy/edit_question'], function(module) {
        const card = document.getElementById("qpy-card-{{uniqid}}");
        module.initActionButton(card, {{isselected}});
        {{#isselected}}
            module.initFavouriteButton(card, {{id}});
        {{/isselected}}
    });
{{/js}}