/*
 * This file is part of the QuestionPy Moodle plugin - https://questionpy.org/
 *
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Remove question text and general feedback from edit form. */
#page-question-type-questionpy #fitem_id_questiontext,
#page-question-type-questionpy #fitem_id_generalfeedback {
    display: none;
}

/* Style package selection container */
#fgroup_id_questionpy_package_container fieldset > div {
    row-gap: 10px;
    overflow-y: scroll;
    max-height: 400px;
}

.qpy-card {
    border: 1px solid var(--secondary);
    background-color: var(--light);
    display: flex;
    gap: 10px;
    align-items: stretch;
    height: 120px;
    width: 600px;
    padding: 10px;
}

.qpy-card-image {
    flex: none;
    width: 100px;
    height: 100px;
}

.qpy-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.qpy-card-title {
    margin: 0;
}

.qpy-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.qpy-card-description {
    flex: 1;
    overflow-y: auto;
    margin: 0;
}

.qpy-card-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: none;
    width: 130px;
}

.qpy-card-action button {
    width: 100%;
}

.qpy-card-action-options {
    display: flex;
    justify-content: space-between;
}

.qpy-repetition {
    /* Visually groups the elements of each repetition. */
    background: #eee;
    border: 1px solid #bbb;

    margin-bottom: 1em;

    display: flex;
    flex-direction: row;
}

.qpy-repetition-content {
    padding-top: 1em;
    flex-grow: 1;
}

.qpy-repetition-controls {
    flex-grow: 0;

    display: flex;
    flex-direction: column;
}

.qpy-repetition-remove {
    margin: .5em;
}

.form-control.qpy-input {
    /* Matches the styling used by most bundled question types. */
    display: inline;
    width: auto;
    vertical-align: baseline;
}
