{{!
    This file is part of the QuestionPy Moodle plugin - https://questionpy.org

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_questionpy/package_search/pagination

    Represents a pagination section of a package container.

    Classes required for JS:
    * qpy-pagination

    Example context (json):
    {}
}}
<nav data-for="pagination" aria-label="{{#str}}search_pagination_label_aria, qtype_questionpy{{/str}}">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled" data-for="pagination-previous">
            <a role="button" class="page-link" aria-label="{{#str}}search_pagination_previous_aria, qtype_questionpy{{/str}}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item active"><span class="page-link" data-for="pagination-current">1 / 1</span></li>
        <li class="page-item disabled" data-for="pagination-next">
            <a role="button" class="page-link" aria-label="{{#str}}search_pagination_next_aria, qtype_questionpy{{/str}}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>